{% extends "layout.njk"%}
{% block title %}
  <title>{{item.title}}</title>
{% endblock title %}
{% block content %}
  <div id="wrapper" class="video">
        <h1>{{item.title}}</h1>
    </div>
  <section class="curso">
    
      <div class="curso" id="{{item.id}}">
        <div class="curso">
          <iframe src="https://www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
        </div>
       
        </div>
      </div>
   
</section>

{% endblock content %}

