{% extends "layout.njk"%}
{% block title %}
  <title>Sobre</title>
{% endblock title %}
{% block content %}
  <div class="content">
    <img src="{{principal.avatar}}" alt="{{principal.name}}"/>

    <h1>{{principal.name}}</h1>
    <p>{{principal.subtitle}}</p>
    <div class="lista">
      <h2>{{principal.title}}</h2>
      {% for lista in principal.lista %}
      <ul>
        <li>{{lista.name}}</li>
      </ul>
      {% endfor %}
    </div>

  </div>
{% endblock content %}