{% extends 'layout.njk' %}

{% block content %}
<section class="container form" >
<form action="/products" method="post">
    <div class="header">
        <h3>Cadastrar produtos</h3>
    </div>
</form>
</section>
{% endblock content %}