@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
:root {
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  display: flex;
  padding: 16px;
  background-color: rgb(29, 28, 28);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
  top: 0;
  
  text-align: center;
  align-items: center;
}

header a {
  margin-right: 50px;
}

header .link a {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  align-self: flex-end;
  text-decoration: none;
  margin-right: 26px;
  color: white;
}

header .link a:hover {
  color: violet;
  transition: color 200ms;
}

p span.purple {
  color: var(--color-rocket);
  font-weight: 800;
}

p span.orange {
  color: rgb(253, 149, 31);
  font-weight: 800;
}

p span.green {
  color: rgb(4, 211, 97);
  font-weight: 800;
}

.content img {
  border-radius: 50%;
  height: 250px;
  padding: 36px;
}

.content h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
}

.content p {
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
}
.content h2 {
  margin-top: 16px;
  font-size: 26px;
  line-height: 36px;
}

.lista ul {
  display: grid;

  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
}

.lista ul li {
  text-align: justify;
  margin-top: 16px;
}

footer .social {
  background-color: rgb(29, 28, 28);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 97.9%;

  align-items: center;
}

.social a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  margin-right: 16px;
  color: white;
}

.social a:hover {
  color: violet;
  transition: color 200ms;
}

/* Card */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 50px;
  margin-top: 150px;
}

.card {
  background: url(https://skylab.rocketseat.com.br/static/media/MountainsOpacity.a4edba24.png);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: 1px solid var(--color-rocket);
  transition: color 200ms;
}

.card-image-container {
  padding: 20px;
}

.card-image-container img {
  max-width: 300px;
  max-height: 200px;
  align-items: center;
}

.card-content {
  display: flex;
  padding: 18px;
  text-align: center;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
}

.modulos {
  margin-right: 16px;
}

.card-modules {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 8px;
  align-content: center;
  
  
}

.img-error img {
  padding: 66px;
}

/* modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.modal {
  background-color: black;
  width: 50%;
  height: 50%;
  margin: 5vh auto;
  position: relative;
  padding: 5px;
}

.modal .close-modal {
  color: var(--color-rocket);
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal .maximize-modal {
  color: var(--color-rocket);
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
}

.modal .minimize-modal {
  color: var(--color-rocket);
  position: absolute;
  right: 90px;
  top: 20px;
  cursor: pointer;
}

/* MODAL Active */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 99%;
  height: 90%;
  position: absolute;
  display: flex;
  top: 10%;
  border-radius: 6px;
}

/* modal maximize */

.modal.maximize {
  opacity: 1;
  visibility: visible;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  top: 0;
}

.maximize iframe {
  width: 99%;
  height: 96%;
  position: absolute;
  display: flex;
  top: 5%;
  border-radius: 3px;
}
